<!DOCTYPE html>
<html lang="en">
  {% load static%}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{% static "assets/icon/bear.ico" %}" />
    <link rel="stylesheet" href="{% static "assets/css/index.css" %}" />
    <script src="./index.js"></script>
    <title>Meet Food覓食</title>
  </head>
  <body>
    <header>
      <div class="title">
        <div class="container">
          <div class="title_txt">
            <h1>
              覓食
              <small>Meet Food</small>
            </h1>
            <p>
              無論您是尋求正宗的街頭小吃、令人難忘的餐廳體驗，還是烹飪靈感，&quot;覓食
              Meet food&quot; 都是您的終極指南&#10084;
            </p>
            <p>加入我們，踏上美食冒險，發現您從未體驗過的味覺世界!</p><a href="menu1/">
            <button class="menuBt" type="button" ">
              &#10145; 點擊前往覓食！
            </button></a>
          </div>
        </div>
      </div>
    </header>
  </body>
</html>
